{% if settings.promo_bar_enabled %}
  <div class="promo-bar">
    <div class="wrapper">
      <div class="bar-body">
        {{ settings.promo_bar_content }}
      </div>
    </div>
  </div>
{% endif %}
